

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/bg-body.png");
}

.logo{
    position: relative;
    display:block;
    margin: auto;
    border-radius: 100px;
    margin-bottom: 30px;
    top: 15px;
}

.navbar {
justify-content: center;
}

.barrasuperior button{
    width: 100%;
    text-transform: uppercase;
}

.banner{
    display:none;
}

.vip-products{
    position: relative;
    display: block;
    margin: auto;
}

.photo-container{
    position: relative;
    width: 100%;
}
.photo{
    width: 100%;}

.special{
    position: absolute;
    top: 5%;
    right: 0%;
}

.zoom{
    position: absolute;
    width: 100%;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    top: 45%;text-align: center;
    left:0%;
    line-height: 250%;
}

h2{
    font-weight: bold;
    font-size: 1.5em;
}

.btn btn-secondary{
    margin-bottom: 3%;
}

.p{
    text-justify: auto;
}

.footer-menu{
    width: 100%;
    justify-content: center;
    padding-left: 0%;
}

.footer-item{
    list-style: none;
    text-transform: uppercase;
    width: 100%;
}

.btn-group-lg>.btn, .btn-lg{
    width:100%;
    text-transform: uppercase;
}


@media (min-width: 768px){

        .container{
            margin-left: auto;
            margin-right: auto;
        }

        .nav-toggler{
            display:none;
        }

        .navbar-nav{
            display: flexbox;
        }

        .banner{
            display: block;
        }

        .banner img{
            width: 100%;
            margin-bottom: 2%;
        }

        .vip-products{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-left: 0%;
            padding-right: 0%;
            margin-bottom: 2%;
        }

        .footer-menu{
            display: flex;
        }

        .main-footer{
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            height: 21vh;
            background-color: #B92519;
        }
    }
